@model IEnumerable<CDSS.Models.Patients>

@{
    ViewData["Title"] = "Here are the patients under your care";
}

<style>
    body {
        background-color: lightblue;
    }
</style>

<h1>Here are the patients under your care</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>
                <a asp-action="Create">Create New</a> 
            </p>
        </div>
        <div class="col-md-4 text-right">
            <!-- Move the search bar to the other end -->
            <form asp-action="Index" method="get" class="form-inline">
                <div class="input-group">
                    <label class="sr-only" for="searchTerm">Search:</label>
                    <input type="text" id="searchTerm" name="searchTerm" class="form-control" placeholder="Search by Name, Ward, etc." style="width: 50%;">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>

            @* <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalCondition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td> *@
            <td>
                @item.GetFormattedBirthdate()
            </td>
            <td>
                Ward @Html.DisplayFor(modelItem => item.Ward) 
            </td>
            <td>
                Bed @Html.DisplayFor(modelItem => item.Bed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalCondition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
